body {
    background-color: black;
    padding: 5%;
    /* padding-bottom: 10%; */
    margin-top: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}


canvas {
    background: url(images/vgnight.jpg) repeat-x;
    background-size: cover;
    width: 75%;
    height: auto;
}